# Kafka
KAFKA_BROKERS=kafka:9092

# URLs internas dos serviços (usadas pelo gateway)
IDENTITY_URL=http://identity-service:4001
CATALOG_URL=http://catalog-service:4002
ORDER_URL=http://order-service:4003
WORKFLOW_URL=http://workflow-service:4004
PARTNER_URL=http://partner-service:4005

# (fase futura) Postgres por serviço
# DATABASE_URL=postgres://app:app@postgres:5432/exportacao
